fastapi==0.115.0
uvicorn[standard]==0.30.6
presidio-analyzer==2.2.355
spacy==3.7.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
pydantic==2.9.2


